<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencyhelper">

    <application
        android:name=".HelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencyHelper">
        <activity android:name=".activity.message.CommunicateActivity"></activity>
        <activity android:name=".activity.my.PointActivity" />
        <activity android:name=".activity.my.PostActivity" />
        <activity android:name=".activity.my.DingdanActivity" />
        <activity android:name=".activity.category.FamilyActivity" />
        <activity android:name=".activity.category.EmergencyActivity" />
        <activity android:name=".activity.category.SchoolActivity" />
        <activity android:name=".activity.category.CoporateActivity" />
        <activity android:name=".activity.category.OldActivity" />
        <activity android:name=".activity.category.SocialActivity" />
        <activity android:name=".activity.category.ChildrenActivity" />
        <activity android:name=".activity.topic.CommentActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.enter.EnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>